on boot
    # DC-Dimming
    chown system system /sys/kernel/oplus_display/dimlayer_bl_en
    chmod 0660 /sys/kernel/oplus_display/dimlayer_bl_en

    # Force Fast Charge
    chown system system /sys/module/oplus_charger/parameters/force_fast_charge
    chmod 0660 /sys/module/oplus_charger/parameters/force_fast_charge

    # Fsync Switch
    chown system system /sys/module/sync/parameters/fsync_enabled
    chmod 0660 /sys/module/sync/parameters/fsync_enabled

    # HBM
    chown system system /sys/kernel/oplus_display/hbm
    chmod 0660 /sys/kernel/oplus_display/hbm

    # Measured FPS
    chown system graphics /sys/class/drm/sde-crtc-0/measured_fps
    chmod 0660 /sys/class/drm/sde-crtc-0/measured_fps

    # Power Efficient Workqueue
    chown system system /sys/module/workqueue/parameters/power_efficient
    chmod 0660 /sys/module/workqueue/parameters/power_efficient

    # USB-OTG
    chown system /sys/class/power_supply/usb/otg_switch
    chmod 0660 /sys/class/power_supply/usb/otg_switch

    # Vibration Intensity
    chown system system /sys/devices/platform/soc/89c000.i2c/i2c-2/2-005a/leds/vibrator/level
    chmod 0660 /sys/devices/platform/soc/89c000.i2c/i2c-2/2-005a/leds/vibrator/level

    # Hyper Touch
    chown system system /proc/touchpanel/game_switch_enable

    # TP Edge Touch Limit
    chown system system /proc/touchpanel/oplus_tp_direction
    write /proc/touchpanel/oplus_tp_direction 0
